.highlighter{
   color: orangered; 
}
body{
    font-family: 'Noto Serif', serif;
    margin: 0px;
}
.font-large{
    font-size: 40px;
    margin: 2px;
}
.for-button{
    text-decoration: none;
    background-image: linear-gradient(180deg, lightsalmon, tomato);
    border-radius: 7px;
    padding: 7px 18px;
    font-size: 20px;
    color: white;
}
#for-para{
    margin-top: 50px;
    padding-top: 100px;
padding-left: 150px;
}
.half-width{
    float: left;
    width: 40%;
    height: 40%;
    margin-left:40px ;

}
.for-image{
    width: 80%;
    padding-left: 90px;
    padding-top: 40px;
}
.for-top{
    background-image: url("header-bg.png");
    background-position:cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;

    

}
section{
    height: 750px;
    
}
#peter-dream{
    width: 80%;
    padding-top: 50px;
}
#second-para{
    margin-left: 60px;
    padding-left: 40px;
    margin-top: 100px;
    padding-top: 40px;
}
.second-background{
    background-image: url("biography-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
   background-size: cover;
   height: 650px;
}

.latest-background{
    background-image: url("latest-work-bg.png");
    background-size: cover;
    height: 480px;
    background-position:center;
}
.l_align{
    text-align: center;
    font-size: 40px;
}
#first-work{
    margin-left:50px ;
}

.third-width{
    float: left;
    margin-left:20px;
}

.photo-size{
    height: 380px;
    width: 400px;
}
.next-align{
    text-align: center;
    padding-top: 60px;
}
.import-message{
    background-image: linear-gradient(red, orange);
    border-radius: 7px;
    margin: 10px 400px;
    padding: 30px 50px;
}
.footer-bg{
    background-image: url("footer-bg.png");
    height: 700px;
    background-position: center;
    background-size: cover;
}
.footer-main{
   text-align: center; 
}



